# botgo specific
config.yml
config.json
*.db
*.db.lock
*.ini
*.bat

# Go specific
gensokyo.exe
gsk.exe
qf.exe

# Ignore channel_temp
channel_temp/

# Ignore log
log/

# ignore dist
webui/dist/

#ignore data
data/

